#Music1 h1 .DropZone,
#Music2 h1 .DropZone{
    position: absolute;
    top:0px;
    left: 0%;
    right: 0px;
    z-index: 5;
    background-color: white;
}

.TimeBox-el .svg div{
    margin: 3px;
    /*word-wrap: anywhere;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#Music1 .button,
#Music2 .button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 98%;
}
.ddcontainerghost{
    pointer-events:none;
}