#TimeBox {
    position: relative;
    padding: 0;
}
.ruler {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ruler div {
    height: 50px;
    border-left: 2px solid black;
    padding: 5px;
    width: 100%;
}
#TimeBox .TimeBox-el {
    position: relative;
    width: -moz-calc(100% - 35px);
    width: -webkit-calc(100% - 35px);
    width: -o-calc(100% - 35px);
    width: calc(100% - 35px);
    /*height: 10px;*/
}
#TimeBox .x {
    position: absolute;
    width: 100%;
    left: 0px;
    transition: transform 8s, opacity ease 8s;
    transform: translate3d(100%, 10px, 0px);
    opacity: 0.06;
}
#TimeBox .x.opacity{
    visibility: hidden;
    opacity:1;
}

#TimeBox .x div:first-child {
    visibility: visible;
    width: 40px;
}