#Chat {
    height: 350px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#Chat h1{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
#Chat .sc-message-list {
    height: 70%;
    overflow-y: auto;
    background-color: white;
    background-size: 100%;
    /*padding: 40px 0px;*/
}


.sc-message--content.received .sc-message--text {
    color: #263238;
}
.sc-message {
    display: flex;
    margin: 10px;
}

.sc-message--content {
    width: 100%;
    display: flex;
}

.sc-message--avatar {
    background-size: 230px;
    background: url(160.jpg) no-repeat -11px -32px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    align-self: center;
    box-shadow: 0 1px 1px 0 #BFBFBF;

    /*white-space: nowrap;*/
    outline: none;
    overflow: hidden;
}
.sc-message--avatar.ico1{ background-position: -11px  -32px;}
.sc-message--avatar.ico2{ background-position: -11px  -81px;}
.sc-message--avatar.ico3{ background-position: -11px  -130px;}
.sc-message--avatar.ico4{ background-position: -11px  -179px;}
	
.sc-message--avatar.ico5{ background-position: -67px  -32px;}
.sc-message--avatar.ico6{ background-position: -67px  -81px;}
.sc-message--avatar.ico7{ background-position: -67px  -130px;}
.sc-message--avatar.ico8{ background-position: -67px  -179px;}
	
.sc-message--avatar.ico9{ background-position: -123px  -32px;}
.sc-message--avatar.ico10{ background-position: -123px  -81px;}
.sc-message--avatar.ico11{ background-position: -123px  -130px;}
.sc-message--avatar.ico12{ background-position: -123px  -179px;}
	
.sc-message--avatar.ico13{ background-position: -179px  -32px;}
.sc-message--avatar.ico14{ background-position: -179px  -81px;}
.sc-message--avatar.ico15{ background-position: -179px  -130px;}
.sc-message--avatar.ico16{ background-position: -179px  -179px;}


.sc-message--date {
    font-size: 10px;
    white-space: pre-wrap;
    margin-top: 3px;
    word-wrap: break-word;
    max-width: 300px;
}

.sc-message--text {
    padding: 1px 10px;
    border-radius: 6px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    white-space: pre-wrap;
    -webkit-font-smoothing: subpixel-antialiased;
    word-wrap: break-word;
    width: 90%;
}

/* .sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #4e8cff;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
} */

.sc-message--content.sent .sc-message--text {
    color: white;
    position: relative;
    background:#00A6D6;
    border-radius: .4em;
    max-width: calc(100% - 40px);
    word-wrap: break-word;
    box-shadow: 0 1px 1px 0 #BFBFBF;
    margin-right: 20px;
    margin-left: 5px;
}

.sc-message--content.sent .sc-message--text:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #00A6D6;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;

}

.sc-message--content.received .sc-message--text {
    position: relative;
    border-radius: .4em;
    color: #263238;
    background-color: #f4f7f9;
    margin-left: 15px;
    box-shadow: 0 1px 1px 0 #BFBFBF;
}

.sc-message--content.received .sc-message--text:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #f4f7f9;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.sc-message--emoji {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px
}

.sc-message--file {
    background: white;
    border: solid 1px #CCCDD1;
    /*padding: 15px 20px;*/
    border-radius: 5px;
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.sc-message--file p {
    margin: 0 0 0 10px;
    color: rgba(86, 88, 103, 0.6);
}

.sc-message--file .sc-user-input--file-icon:hover path {
    fill: rgba(86, 88, 103, 0.3);
}

@media (max-width: 450px) {
    .sc-message {
        width: 80%;
    }
}
.sc-message--content.sent {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

#Chat form{
    bottom: 1px;
    left: 0;
    right: 0;
    position: absolute;
}
#Chat input{
    width: 100%;
}

