main{
    --color:black;
    --background:white;
    height: 4em;
    width: 4em;
    background-color: var(--color);
}
/** https://maxpelic.com/examples/darkmode-native **/
#toggleMode:checked ~ main{
    --color:white;
    --background:black;
}


#toggleMode{
    display:none;
}

#toggleMode + label:before{
    content:'enable dark mode';
}

#toggleMode:checked + label:before{
    content:'enable light mode';
}


