
/*@import url('https://css.gg/css');*/


.nav{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: var(--height-nav);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow-x: auto;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    color: var(--primary-color);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    min-height: 50px;
    min-width: 50px;
}
.nav__link:hover a{
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    transition: color .8s ease-in-out, background-color 1.8s ease;
}
.nav__link--active {
    color: var(--primary-color);
}
/*.nav__text{
    margin-top: 1em;
}*/
.nav__icon{

    margin: .3em;
}